.section
{
  min-height : 100%;
  min-width : 100%;
}
html,body
{
  height :100% ;
  width : 100% ;
}

/* header */
.navbar
{
  margin-bottom: 0px ;
  background-color: white ;
  opacity : 0.9 ;
  border : 0px ;
}

.navbar-default .navbar-nav > li > a , .navbar-default .navbar-header .navbar-brand
{
  color: black ;
  font-size : 20px ;
}

.poster
{
  margin-top: 90px ;
  margin-bottom: 30px ;
  width: 500px ;
  opacity: 0 ;
}


/* end header */
